<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'homestyle.css' %}">


    <title>home</title>
</head>
<body>
<div class="pos_cen">
    <img src="https://cdn.pixabay.com/photo/2014/11/18/20/27/elections-536656__340.png">
    <h1>To-Do-List</h1>
    <h2>Plan your day Smart</h2>
    <form action="login/">

<!--        {% csrf_token %}-->
<!--        {{form.as_p}}-->
<!--        <a href="{% url 'login' %}">Login-->
        <input type="submit" class="btn" value="Get Started">
<!--        </a>-->
    </form>
</div>








</body>
</html>
